.footer{
    background: var(--bg2);
    margin-top: 1.1rem;
    border-top: 1px solid var(--border);
    padding: 12px 0;
    color: var(--text);
}

.footer__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.8rem;
    font-size: 0.9rem;
}

.footer a{
    font-weight: bold;
    text-decoration: none;
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 5px;
    background-color: var(--bg3);
}

.footer a:hover{
    background-color: var(--color1);
    color: var(--write);
}